header{
	float:left;
	margin-top:20px;
	width:100%;
}

/* ---------- HEADER LEFT ------------- */

#header_left{
	width:25%;
	height:70px;
}

#header_left img{
	float:left;
	width:28px;
	margin-right:6px;
	padding-top:7px;
}

#header_left h1{
	margin:0px;
	margin-bottom:6px;
	font-size:28px;
	font-weight:normal;
}

#header_left h1 a{
	color:#2E2C2D;
	text-decoration:none;
}

#header_left h2{
	margin:0px;
	font-family: LatoLight, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
}

/* ---------- HEADER RIGHT ------------- */

#header_right{
	padding-top:20px;
	width:75%;
	height:50px;	
}

#header_right a, #header_right a:active, #header_right a:visited{
	display:block;
	float:right;
	padding-left:2%;
	padding-right:2%;
	width:18%;
	text-align:center;
	text-decoration:none;
	color:#2E2C2D;	
}
