/* --- HEADER BAR -------*/

#header_bar{
	width:100%;
	padding:8px;
	position:fixed; 
	text-align:center; 
	background:#FFF2C6;
	border-bottom:1px solid #7F8785;
}

/* ------- HEADER EDIT ------- */

#header_content_wrapper{
	margin-top:36px;
	margin-left:10%;
	width:80%;
}

/* ------ TRY SECTION ------ */

#try_section{
	margin-top:240px;
	margin-left:10%;
	margin-bottom:40px;
	width:30%;
}

#try_section h1{
	margin:0px;
	margin-bottom:8px;
	font-family: Lato, Helvetica, sans-serif;
	font-size:22px;
	font-style:italic;
	font-weight:bold;	
}

#try_section img{
	float:left;
	margin-left:6px;
	margin-right:6px;
	padding-top:8px;
}

#try_section p{
	margin:0px;
	padding:8px;
	font-family: Lato, Helvetica, sans-serif;
	font-size:22px;
	font-style:italic;
}

#try_section strong{
	font-family: Lato, Helvetica, sans-serif;
	font-weight:bold;	
}

/*------ SLIDESHOW ------- */

#slideshow{
	position:absolute;
	width:100%;
	overflow:hidden;
	z-index:-1;
}

#slides_wrapper{
	width:300%;
}

.slide{
	width:33.33%;
	height:1200px;
	background:no-repeat center top;
}

.content{
	margin:auto;
	width:80%;
	float:none;
}

h1.tagline{
	margin-top:180px;
	margin-bottom:80px;
	width:40%;
	font-size:36px;
	color:#FF706A;
}

/*------ WIDGETS ----*/


.fb_iframe_widget{
	float:left;
	margin-top:8px;
	margin-left:8px;
	padding-top:8px;
}

#follow_button{
	margin-top:8px;
	margin-left:8px;
	padding:8px;
	width:100px;
}

/*---- EXPLANATION SECTION ----*/

#explanations_section_wrapper{
	width:100%;
	background:rgba(255,255,255,0.6);
}

#explanations_section{
	margin-left:10%;
	padding-top:30px;
	padding-bottom:10px;
	width:80%;
}

#explanations_section h1{
	float:left;
	margin:0px;
	font-size:24px;
}

h1#left{
	margin-left:23%;
	padding-top:8px;
	padding-bottom:8px;
	width:22%;
	text-align:right;
}

h1#right{
	margin-left:3%;
	margin-right:16%;
	width:28%;
	padding:8px;
	color:white;
	text-align:center;
	background-color:#FF706A;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

h1#right a, h1#right a:active, h1#right a:visited{
	text-decoration:none;
	color:white;	
}

h1#right a:hover{
	text-decoration:underline;
}

/*---------- EXPLANATION BLOCK ------------*/

.explanations_block{
	margin-top:50px;
	width:33%;
}

.explanations_block h1{
	padding-left:10%;
	padding-right:10%;
	padding-bottom:20px;
	width:80%;
}

.explanations_block p{
	padding-left:10%;
	padding-right:10%;
	width:80%;
}

.explanations_block a{
	display:block;
	padding-left:10%;
	padding-right:10%;
	width:80%;
}

/* ----- FOOTER EDITS ------- */

#footer_top_wrapper{
	width:100%;
	background: rgba(255,255,255,0.6);
}

#footer_bottom_wrapper{
	width:100%;
	background: white;
}



