/*
Colors:
- dark grey: #2E2C2D
- grey: #7F8785
- light grey: #BCBCBC
- light red: #FF706A

Font-sizes:
- biggest:
- titles:
- subtitles:
- normal: 
*/

body {
	margin:auto;
	width:80%;
	font-family: LatoRegular, Helvetica, sans-serif;
	color:#2E2C2D;
}

body div{
	float:left;
}

#content{
	width:100%;
}

a, a:active, a:visited{
	text-decoration:underline;
	color:#FF706A;
}

p{
	line-height:22px;
	font-family: LatoLight, Helvetica, sans-serif;
}

strong{
	font-family: LatoRegular, Helvetica, sans-serif;
}

span{
	color:#FF706A;	
}
