/* ------- GENERAL STYLE OF SECONDARY PAGES ------- */

.secondary_block{
	width:100%;
	margin-bottom:12px;
}

.secondary_block h1{
	float:left;
	width:100%;
	margin-top:40px;
	color:#FF706A;
}

.secondary_block .text{
	width:55%;
}

.secondary_block img{
	float:left;
	width:40%;
}

.secondary_block h2{
	margin-top:30px;
}

.secondary_block span{
	color:#FF706A;
}

/* ------------- WHAT IS CAPTURIO --------------- */

img.what_is_capturio{
	padding-top:26px;
	margin-right:2%;
	width:12%;
}

/* ------------- TUTORIAL SECTION ---------------- */

.tutorial{
	width:100%;
	text-align:center;
}

.tutorial h1{
	float:left;
	margin-top:50px;
	margin-bottom:40px;
	width:100%;
	color:#FF706A;
}

.tutorial_step_short{
	float:left;
	width:30%;
}

.tutorial_step_large{
	float:left;
	width:40%;
}

.tutorial img{
	padding:3px;
	border:1px solid #BCBCBC;
}

.tutorial_step_short img{
	width:80%;
}

.tutorial_step_large img{
	width:60%;
}

.tutorial h2{
	float:left;
	margin:0px;
	margin-top:20px;
	margin-left:10%;
	margin-right:10%;
	width:72%;
	padding-left:4%;
	padding-right:4%;
	padding-top:16px;
	padding-bottom:16px;
	color:white;
	font-size:1.5em;
	background-color:#7F8785;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.tutorial p{
	float:left;
	margin-left:20%;
	margin-right:20%;
	width:60%;	
}

#go_to_faq{
	float:left;
	width:100%;
	margin-top:40px;
	text-align:center;
}