{% extends "base.html" %}

{% block content %}
<div id="secondary_section">
	<div id="text">
		<h1>ABOUT CAPTURIO</h1>
		<p>
			We're a very small, very passionate, maybe visionary team based in Paris. We like the web, we like the fun and we thought
			we could do both. If you're willing to join this project, we have technical as well as marketing positions opened. <br/>
			<span>Feel free to ask questions at <a href="mailto:apply@captur.io">apply@captur.io</a></span>
		</p>
	</div>
</div>
{% endblock %}