<!DOCTYPE HTML>
<html>
    <head>
        <title>Capturio</title>
		<link type="text/css" rel="stylesheet" href="/css/main.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
		<header>
			<div id="header_left">
				<h1>Capturio</h1>
				<h2>Capture people you meet</h2>
			</div>
			<div id="header_right">
				{% block header_right %}
				{% endblock %}
			</div>
		</header>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<footer>
			{% include "footer.html" %}
		</footer>
	</body>
</html>