<!DOCTYPE HTML>
<html>
    <head>
        <title>Capturio</title>
		<link type="text/css" rel="stylesheet" href="/css/root.css" />
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24395049-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
    </head>
    <body>
		<header>
			<div id="header_left">
				<img src="/images/logo.png"><h1><a href="/">Capturio</a></h1>
				<h2>Capture people you meet</h2>
			</div>
			<div id="header_right">
				{% block header_right %}
					{% include "menu.html" %}
				{% endblock %}
			</div>
		</header>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<footer>
			{% include "footer.html" %}
		</footer>
	</body>
</html>