{% extends "base.html" %}

{% block content %}
<div class="secondary_block">
	<div class="text">
		<h1>WHAT ARE THE NEXT FEATURES?</h1>
		<p>
			We have tons of ideas and our tech is able to do the most amazing miracles! 
			Hereafter, you'll find a few samples we planned to roll out but we're way more interesting in asking you what to add!<br/>
			<span><a href="mailto:newstuff@captur.io">Let us know</a> if you think we can do it</span>
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>MORE TSHIRTS</h2>
		<p>
			Not only one but several tshirts could be linked to your contact information
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>WEB VERSION</h2>
		<p>
			It's fun to play with email, doing <strong>post and get requests</strong> with Capturio 
			but it will be more convenient to handle your data in a web interface.
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>IPHONE/ ANDROID APP</h2>
		<p>
			<strong>The killer app:</strong> instead of mailing a picture, you'll just have to scan 
			people's tshirt during a couple of seconds. We're working hard for this.<br/>
			<strong><span>Believe us it's gonna change your social life.</span></strong>
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>INTEGRATION WITH SOCIAL WEBSITES</h2>
		<p>
			Getting people's phone number and email is still relevant in 2011. But the most relevant information is of course our
			social activity: Facebook, Twitter, LinkedIn... We'll offer in our app a <strong>"one click request"</strong>
			for each of these services.<br/>
			<strong><span>And so no more hassle looking up for people on Google!</span></strong>
		</p>
	</div>
</div>
{% endblock %}