{% extends "base.html" %}

{% block content %}
<div id="secondary_section">
	<div id="text">
		<h1>WHAT ARE THE NEXT FEATURES?</h1>
		<p>
			The Capturio version based on emails and vcards is a small brick of a big thing we want to build.
			Here are the next features we would like to roll out in the next few months. 
			Of course, the list is likely to change according to people's feedback.<br/>
			<span><a href="mailto:newstuff@captur.io">Let us know</a> if you want us to add something to this TODO list</span>
		</p>
		<h2>MORE CAPTURIO OBJECTS</h2>
		<p>
			Not only one but several objects could be linked to your vcard
		</p>
		<h2>WEB VERSION</h2>
		<p>
			It's fun to play with email, doing <strong>post and get requests</strong> with Capturio 
			but it will be more convenient to handle your data in a web interface.
		</p>
		<h2>IPHONE/ ANDROID APP</h2>
		<p>
			<strong>The killer app:</strong> instead of mailing a picture, you'll just have to scan 
			people's Capturio object during a couple of seconds. We're working hard for this.<br/>
			<strong><span>Believe us it's gonna change your social life.</span></strong>
		</p>
		<h2>INTEGRATION WITH SOCIAL WEBSITES</h2>
		<p>
			Getting people's phone number and email is still relevant in 2011. But the most relevant information is of course our
			social activity: Facebook, Twitter, LinkedIn... We'll offer in our app a <strong>"one click request"</strong>
			for each of these services.<br/>
			<strong><span>And so no more hassle looking up for people on Google!</span></strong>
		</p>
		<h2>LINKING OTHER FILETYPES</h2>
		<p>
			Wanna link an audio or video file to one of your capturio object. You'll be able to do this in a near future.
		</p>
	</div>
</div>
{% endblock %}