{% extends "base.html" %}

{% block content %}
<div id="secondary_section">
	<div id="text">
		<h1>FAQ</h1>
		<p>
			If you have any question, there might be your answer in this section. <br/>
			Didn't find yours? please <a href="mailto:hello@captur.io">contact us here</a>. 
			We'll get back to you as soon as possible.
		</p>
		<h2>HOW TO LINK MY VCARD TO ANY OBJECT?</h2>
		<p>
			Send your vcard and an image of your object to <strong>post@captur.io</strong>. 
			If you need more explanations, go to the <a href="/how_to_get_set_up">how to get set up section</a>. 
			There is especially a video tutorial.
		</p>
		<h2>HOW TO GET SOMEONE'S VCARD?</h2>
		<p>
			Just take a picture of his capturio object (the one that he had linked to his vcard on capturio).
			And send it to <strong>get@captur.io</strong>. You'll receive his vcard almost instantly.
			If you need more explanations, go to the <a href="/how_to_get_set_up">how it works section</a>.
		</p>
		<h2>HOW TO EDIT MY INFORMATION/ CHANGE MY CAPTURIO OBJECT OR VCARD?</h2>
		<p>
			Just send a new mail to <strong>post@captur.io</strong> with your new information 
			(your new vcard and/or image of your new object).
			You will receive a confirmation link. If you click on it, your old information will be removed and 
			the new information will be added to your Capturio profile.
		</p>
		<h2>HOW TO PERMANENTLY DELETE MY INFORMATION FROM CAPTURIO?</h2>
		<p>
			Just send an email to <strong>delete@captur.io</strong>. You will receive a confirmation link and, if you click on it, 
			your information will be removed from Capturio (your vcard and/or image). Of course, you can sign up again anytime you want.
		</p>
	</div>
</div>
{% endblock %}