{% extends "base.html" %}

{% block content %}
<div class="secondary_block">
	<div class="text">
		<h1>FAQ</h1>
		<p>
			If you have any question, there might be your answer in this section. <br/>
			Didn't find yours? please <a href="mailto:hello@captur.io">contact us here</a>. 
			We'll get back to you as soon as possible.
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>HOW TO LINK MY INFO TO MY T-SHIRT?</h2>
		<p>
			Send your contact info and an image of your tshirt to <strong>post@captur.io</strong>. 
			If you need more explanations, go to the <a href="/how_to_get_set_up">how to get set up section</a>. 
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>HOW TO GET SOMEONE'S CONTACT INFO?</h2>
		<p>
			Just take a picture of his tshirt (the one that he had linked to his contact info on capturio).
			And send it to <strong>get@captur.io</strong>. You'll receive instantly his contact info.
			If you need more explanations, go to the <a href="/how_to_get_set_up">how it works section</a>.
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>HOW TO EDIT MY INFORMATION/ CHANGE MY TSHIRT OR CONTACT INFO?</h2>
		<p>
			Just send a new mail to <strong>post@captur.io</strong> with your new information 
			(your new contact information and/or image of your new tshirt).
			You will receive a confirmation link. If you click on it, your old information will be removed and 
			the new information will be added to your Capturio profile.
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>HOW TO PERMANENTLY DELETE MY INFORMATION FROM CAPTURIO?</h2>
		<p>
			Just send an email to <strong>delete@captur.io</strong>. You will receive a confirmation link and, if you click on it, 
			your information will be removed from Capturio (your contact info and/or image). 
			Of course, you can sign up again anytime you want.
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>HOW MANY TSHIRTS CAN I LINK TO MY CONTACT INFO?</h2>
		<p>
			At the moment it's <strong>just one</strong>.
			But in a very near future, we will increase the number of tshirts you can add per user.
		</p>
		<p>
			Of course, we know you change your tshirt everyday! We don't want you to adopt dirty habits because of Capturio.
		</p>
		<p>
			<strong>What you can do</strong>: Each time you change your tshirt, just send a picture of your new tshirt to post@captur.io. 
			The old one will be replaced and you'll have another brand new business card that other people can start snapping.
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>HOW TO KNOW WHICH TSHIRT I'VE LINKED TO MY CONTACT INFO?</h2>
		<p>
			Just send an email to <strong>status@captur.io</strong> and we will send you the image that you've linked with your contact info.
		</p>
	</div>
</div>	
{% endblock %}