{% extends "base.html" %}

{% block content %}
<div class="secondary_block">
	<div class="text">
		<h1>HOW TO GET SET UP?</h1>
		<p>
			With Captur.io, you can:<br/>
			- Associate your favorite t-shirt to your contact information<br/>
			- Receive by email people’s contac information.<br/> 
			<span>Look below to know how to master Capturio</span>
		</p>
	</div>
</div>
<div class="tutorial">
	<h1>HOW TO ASSOCIATE MY T-SHIRT TO MY CONTACT INFO?</h1>
	<div class="tutorial_step_short">
		<img src="/images/take_picture.png" />
		<h2>1) TAKE A PIC OF YOUR T-SHIRT</h2>
		<p>
			Pick your most beautiful tshirt! The one you love so much that your friends keep asking where you bought it!
		</p>
	</div>
	<div class="tutorial_step_short">
		<img src="/images/post_picture.png" />
		<h2>2) SEND IT TO POST@CAPTUR.IO</h2>
		<p>
			Ok, go to step 3) now!
		</p>
	</div>
	<div class="tutorial_step_large">
		<img src="/images/post_vcard.png" />
		<h2>3) SEND YOUR INFO TO POST@CAPTUR.IO</h2>
		<p>
			Ok, you’re fully set up! You can now let people take a pic of your tshirt to receive your contact info<br/>
			PS: if you’re smart you can also do step 2 and 3 at the same time ;-)
		</p>
	</div>
</div>
<div class="tutorial">
	<h1>HOW TO RETRIEVE SOMEONE'S CONTACT INFO?</h1>
	<div class="tutorial_step_short">
		<img src="/images/take_picture.png" />
		<h2>1) TAKE A PIC OF HIS T-SHIRT</h2>
		<p>
			This person should already have sent his tshirt and contact information to post@captur.io
		</p>
	</div>
	<div class="tutorial_step_short">
		<img src="/images/get_vcard.png" />
		<h2>2) SEND IT TO GET@CAPTUR.IO</h2>
		<p>
			That's all you need to do.
		</p>
	</div>
	<div class="tutorial_step_large">
		<img src="/images/vcard_attached.png" />
		<h2>3) YOU GET INSTANTLY HIS CONTACT INFO</h2>
		<p>
			Pretty cool, isn't it?
		</p>
	</div>
</div>
<p id="go_to_faq">If you want to edit/ delete your account or have any other question, please go to the <a href="/faq">FAQ</a></p>
		
{% endblock %}