{% extends "base.html" %}

{% block content %}
<div class="secondary_block">
	<div class="text">
		<h1>HOW TO GET SET UP?</h1>
		<p>
			With Captur.io, you can:<br/>
			- Associate one of your personal and original object to your vcard<br/>
			- Receive by email people’s vcard.<br/> 
			<span>Look below to know how to master Capturio</span>
		</p>
	</div>
</div>
<div class="tutorial">
	<h1>HOW TO ASSOCIATE MY OBJECT TO MY VCARD?</h1>
	<div class="tutorial_step_short">
		<img src="/images/take_picture.png" />
		<h2>1) TAKE A PIC OF YOUR OBJECT</h2>
		<p>
			Pick whatever you want! A business card, a t-shirt, a sticker, a badge, a card or a tattoo.
			 Classic or creative, it's up to you!
		</p>
	</div>
	<div class="tutorial_step_short">
		<img src="/images/post_picture.png" />
		<h2>2) SEND IT TO POST@CAPTUR.IO</h2>
		<p>
			Ok, go to step 3) now!
		</p>
	</div>
	<div class="tutorial_step_large">
		<img src="/images/post_vcard.png" />
		<h2>3) SEND YOUR VCARD TO POST@CAPTUR.IO</h2>
		<p>
			Ok, you’re fully set up! You can now let people take a pic of your object to receive your vcard<br/>
			PS: if you’re smart you can also do step 2 and 3 at the same time ;-)
		</p>
	</div>
</div>
<div class="tutorial">
	<h1>HOW TO RETRIEVE SOMEONE'S VCARD?</h1>
	<div class="tutorial_step_short">
		<img src="/images/take_picture.png" />
		<h2>1) TAKE A PIC OF HIS OBJECT</h2>
		<p>
			This person should already have sent his vcard and capturio object to post@captur.io
		</p>
	</div>
	<div class="tutorial_step_short">
		<img src="/images/get_vcard.png" />
		<h2>2) SEND IT TO GET@CAPTUR.IO</h2>
		<p>
			That's all you need to do.
		</p>
	</div>
	<div class="tutorial_step_large">
		<img src="/images/vcard_attached.png" />
		<h2>3) YOU'LL RECEIVE INSTANTLY HIS VCARD</h2>
		<p>
			Pretty cool, isn't it?
		</p>
	</div>
</div>
<p id="go_to_faq">If you want to edit/ delete your account or have any other question, please go to the <a href="/faq">FAQ</a></p>
		
{% endblock %}