{% extends "base.html" %}

{% block content %}
<div id="secondary_section">
	<div id="text">
		<h1>WHO IS USING CAPTURIO?</h1>
		<p>
			Entrepreneurs, developers, designers link their business cards, logos, visuals.
			  Some even add their t-shirts or tattoos! Capturio is limitless.<br/>
			<span>Take a look of who's using Capturio for fun as well as serious purposes</span>
		</p>
		<h2>Mc LOVIN, HAWAIAN ORGAN DONOR</h2>
		<p>
			Mc Lovin shows his driving license when cops pull him over. 
			Thanks to Capturio, Mc Lovin can easily catch up with his buddies and have some beers with them<br/>
			<span>Take a pic of Mc Lovin's capturio object to get in touch with him</span>
		</p>
	</div>
</div>
{% endblock %}