{% extends "base.html" %}

{% block content %}
<div class="secondary_block">
	<div class="text">
		<h1>WHO IS USING CAPTURIO?</h1>
		<p>
			Entrepreneurs, developers, designers link their business cards, logos, visuals.
			  Some even add their t-shirts or tattoos! Capturio is limitless.<br/>
			<span>Send a pic of the capturio objects below to <strong>get@captur.io</strong> and instantly receive the person's vcard!</span>
		</p>
	</div>
</div>
<div class="secondary_block" id="1">
	<div class="text">
		<h2>DAMIEN, LOVES T-SHIRTS AND STARTUPS</h2>
		<p>
			Damien is the founder of Capturio. He also loves t-shirt and  recently thought he could turn his favorite one 
			into a business card to	impress girls and share his phone number in a funny way.<br/>
			<span>
				Send a pic of his t-shirt to <strong>get@captur.io</strong> and you'll receive all the necessary 
				information to contact him
			</span>
		</p>
		<a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site_url }}use_cases#1" data-text="Awesome, French entrepreneur turns his t-shirt into a business card" data-count="horizontal" data-via="capturio">Tweet</a>
	</div>
	<img src="/images/use-case-1.png">
</div>
<div class="secondary_block" id="2">
	<div class="text">
		<h2>LOUIS, DESIGNER AND READY MADE PERFORMER</h2>
		<p>
			Louis made the design of Capturio website. He didn't have any idea of what to link at first. That's why he picked his 
			French ID and associated with his vcard on Capturio.<br/>
			<span>
				Send a pic of this French ID to <strong>get@captur.io</strong> and you'll be able to contact him to make your future
				website.
			</span>
		</p>
		<a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site_url }}use_cases#2" data-text="Awesome, French designer turns his French ID into a business card" data-count="horizontal" data-via="capturio">Tweet</a>
	</div>
	<img src="/images/louis.png">
</div>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

{% endblock %}