{% extends "base.html" %}

{% block content %}
<div class="secondary_block">
	<div class="text">
		<h1>WHAT IS CAPTURIO?</h1>
		<p>
			Capturio is an application where you send an image of a person’s t-shirt by email and receive instantly
			 the contact information that he had linked with it.<br/>
			 For more details see <a href="">how to get set up with Capturio</a>
		</p>
	</div>
</div>
<h1 style="color:#FF706A;">BASICALLY</h1>
<div class="secondary_block">
	<img src="/images/rouage.png" class="what_is_capturio">
	<div class="text">
		<h2>OUR TECH RECOGNIZES IMAGES</h2>
		<p>
			That’s how we do this magic trick.You send an image and you receive some contact information (phone number, email address...). 
			In the middle there are highly <strong>accurate</strong>, highly <strong>robust</strong>, 
			highly <strong>fast</strong> algorithms that had been developed for years.
		</p>
	</div>
</div>
<div class="secondary_block">
	<img src="/images/cross-platform.png" class="what_is_capturio">
	<div class="text">
		<h2>IT’S CROSS PLATFORM</h2>
		<p>
			You just need a camera and email in your phone! So it works on iPhone, Android, Blackberry, and more!
		</p>
	</div>
</div>
<div class="secondary_block">
	<img src="/images/mail-simple.png" class="what_is_capturio">
	<div class="text">
		<h2>IT’S DEAD SIMPLE LIKE EMAIL</h2>
		<p>
			- Send your contact information and a picture of your favorite t-shirt to <strong>post@captur.io</strong> to set up your profile.<br/>
			- Send a pic of someone’s t-shirt to <strong>get@captur.io</strong> and receive instantly his contact information by email.
		</p>
	</div>
</div>
<div class="secondary_block">
	<img src="/images/free.png" class="what_is_capturio">
	<div class="text">
		<h2>IT’S FREE, THERE IS NO SIGN UP</h2>
		<p>
			Why don’t you get started?
		</p>
	</div>
</div>
{% endblock %}