{% extends "base.html" %}

{% block content %}
<div class="secondary_block">
	<div class="text">
		<h1>WHAT IS CAPTURIO?</h1>
		<p>
			Capturio is an application where you send an image of a person’s object by email and receive instantly
			 the vcard that he had linked with it.<br/>
			 For more details see <a href="">how to get set up with Capturio</a>
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h1>BASICALLY</h1>
		<h2>OUR TECH RECOGNIZES IMAGES</h2>
		<p>
			That’s how we do this magic trick.You send an image and you receive a vcard. 
			In the middle there are highly <strong>accurate</strong>, highly <strong>robust</strong>, 
			highly <strong>fast</strong> algorithms that had been developed for years.
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>YOU CAN LINK WHATEVER YOU WANT</h2>
		<p>
			Capturio possibilities are limitless. You can link your vcard to your physical business card or be a little more creative.
			You can link <strong>your t-shirt, your logos, your visuals, a picture even a tattoo</strong>!
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>IT’S CROSS PLATFORM</h2>
		<p>
			You just need a camera and email in your phone! So it works on iPhone, Android, Blackberry, and more!
		</p>
	</div>
</div>
<div class="secondary_block">
	<div class="text">
		<h2>IT’S DEAD SIMPLE LIKE EMAIL</h2>
		<p>
			- Send your vcard and a pic of your personal and original object to <strong>post@captur.io</strong> to set up your profile.<br/>
			- Send a pic of someone’s capturio object to <strong>get@captur.io</strong> and receive instantly his vcard by email.
		</p>
		<h2>IT’S FREE, THERE IS NO SIGN UP</h2>
		<p>
			Why don’t you get started?
		</p>
	</div>
</div>
{% endblock %}