{% extends "../base.html"}
{% block content %}
	<h1>INFORMATION REPLACED.</h1>
	<p>
		Thanks for confirming. Your new information has been added to your Capturio profile.
		You can start letting people <strong>take a pic of your capturio object</strong> 
		and send it to <strong>get@captur.io</strong> to get your vcard
	</p>
	<p>
		We're now in a very closed alpha beta gamma version. 
		Please feel free to email us: <a href="mailto:help@captur.io">help@captur.io</a> if you have any trouble using our app.
	</p>
{% endblock %}