{% extends "../base.html"}
{% block content %}
	<h1>VCARD ADDED</h1>
	<p>
		Thanks for confirming. Your vcard has been added to Capturio. 
		Now <strong>send the image of one of your personal object</strong> to <a href="mailto:post@captur.io">post@captur.io</a>
		 to complete the association!
	</p>
	<p>
		We're now in a very closed alpha beta gamma version. 
		Please feel free to email us: <a href="mailto:crew@captur.io">crew@captur.io</a> if you have any trouble using our app.
	</p>
{% endblock %}